<div class="chat-container">
  <mat-card class="user-list">
    <mat-card-header>
      <mat-card-title>Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let user of users()" (click)="selectUser(user)">
          {{ user.callSign }} ({{ user.ip }}:{{ user.port }})
        </mat-list-item>
      </mat-list>
      <button mat-raised-button color="primary" (click)="openAddUserDialog()">
        <mat-icon>add</mat-icon> Add User
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="chat-window">
    <mat-card-header>
      <mat-card-title>
        {{ selectedUser() ? `Chat with ${selectedUser()}` : 'Chat' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="selectedUser(); else noUserSelected" class="messages" #messagesContainer>
        <div *ngFor="let message of getMessagesForSelectedUser()" class="message"
          [ngClass]="{'sent': message.sender === userDetails()?.name, 'received': message.sender !== userDetails()?.name}">
          <div class="message-content">
            {{ message.content }}
          </div>
          <div class="message-timestamp">
            {{ message.timestamp | date:'shortTime' }}
          </div>
        </div>
      </div>
      <ng-template #noUserSelected>
        <div class="no-user-selected">
          <mat-icon>chat</mat-icon>
          <p>Select a user to start chatting or add a new user.</p>
        </div>
      </ng-template>

      <div class="message-input">
        <mat-form-field appearance="outline" class="full-width">
          <input matInput [(ngModel)]="newMessage" placeholder="Type a message..." (keyup.enter)="sendMessage()"
            [disabled]="!selectedUser()" />
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="sendMessage()" [disabled]="!selectedUser()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>